<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rapid.Decorum">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />


    <uses-feature
        android:name="android.hardware.camera.ar"
        android:required="true" />

    <application
        android:name="com.rapid.Decorum.app.FurnitureApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.rapid.Decorum.activities.OrderdetailsActivity"></activity>
        <activity android:name="com.rapid.Decorum.activities.OrdersActivity" />
        <activity android:name="com.rapid.Decorum.activities.PaymentSummaryActivity" />
        <activity android:name="com.rapid.Decorum.activities.AddAddressActivity" />
        <activity android:name="com.rapid.Decorum.activities.AddressActivity" />
        <activity android:name="com.rapid.Decorum.activities.CartActivity" />
        <activity android:name="com.rapid.Decorum.activities.FurnituredetailsActivity" />
        <activity android:name="com.rapid.Decorum.activities.ShoppingActivity" />
        <activity android:name="com.rapid.Decorum.activities.UserProfileActivity" />
        <activity android:name="com.rapid.Decorum.activities.SplashActivity" />
        <activity android:name="com.rapid.Decorum.activities.OTPActivity" />
        <activity android:name="com.rapid.Decorum.activities.RegistrationActivity" />
        <activity android:name="com.rapid.Decorum.activities.LoginActivity" />
        <activity
            android:name="com.rapid.Decorum.activities.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" >
            <intent-filter>
                <action android:name="com.example.android.DecorumMl.MainAdapter" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:name="com.rapid.Decorum.activities.GettingStartedActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.ar.core"
            android:value="required" />
    </application>

</manifest>